*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.hero{
/* background-color: brown; */
padding: 2rem 15rem 10rem;
 background-color: #1f2937;
 max-width: 100%;
 
}
.hero_box1{
    margin-left: 0%;
}
.hero_nav{
display: flex;
justify-content: center;
align-items: center;
gap: 45rem;
}
.logo{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 900;
}
.nav_list{
    display: flex;
    gap: 7rem;
}
.nav_list li{
  list-style: none;
}
.nav_list li a{
    font-size: 1.4rem;
    text-decoration: none;
    color: #fff;
    font-weight: 100;
}


.text1_container{
    display: flex;
    align-items: center;
  gap: 15rem;
  margin-top: 5rem;
  justify-content: center;
}
.header_head{
    color: #fff;
    font-size: 2rem;
    line-height: 1.3;
   
}
.first_para{color:grey;
  /* width: 20rem; */
 
  font-size: 1rem;
  margin-bottom: 1rem;
}
.last_para{
    color: #fff;
    margin-left: 0;
    padding: 7rem;
    background-color: gray;
}
.signup{
    padding: 4px 17px;
    /* border: 2px solid #fff; */
    background-color: #3882f6;
    text-decoration: none;
    border-radius: 2px;
    color: #fff;
    font-weight: 900;
   
}
.signupbox{
    margin-top: 13px;
    
    
}
.signup:hover{
    background-color: blanchedalmond;
    color: #3882f6;
}
.first_link:hover{
    border-bottom: 1px solid #3882f6;
}

/* section part */
.sec-cont{
    max-width: 40rem;
    margin: 0 auto;
    margin-bottom: 9rem;
    /* background-color: gold; */
    /* padding: 3rem; */
    
}
.section_header{
    color: rgb(61, 59, 59);
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
    /* margin-right: 1rem; */

}
.flex-con{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.4rem;
}
.empty{
  border: 2px solid #3882f6;
  padding: 5rem .3rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
.empty_content_box{
    color-scheme: grey;
    opacity: 70%;
}
.third_cont{
    /* background: #3882f6; */

    max-width: 50rem;
    margin: 0 auto;
}
.third_section{
    background-color: rgb(189, 182, 182);
    padding: 4rem;
    margin-top: 2rem;
}
.third_cont_para{
    font-size: 2rem;
    font-weight: 500;
    opacity: 57%;
    /* color: gray */
    
}
.outher{
    text-align: end;
    font-size: 1.7rem;
    font-weight: 800;
    margin-top: 1rem;
}
.atext:hover{
    color:rgb(131, 172, 172);
}
.date{
    color: #3882f6;
}
.slash{
    color: black;
}
/* below is the fourth content */
.forth-sec{
    padding: 3rem;
}
.forth-cont{
    max-width: 70rem;
    background-color: #3882f6;
    margin: 0 auto;
    /* text-align: center; */
    padding: 3rem;
    display: flex;
    justify-content: center;
    gap: 26rem;
    border-radius: 7px;

}
.forth_textcoor{
  color: #fff;
}
.forth-link{
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 7px;
}
.forth-link:hover{
    background-color: #fff;
    color: #3882f6;
}
.footer{
    text-align: center;
    padding: 2rem;
    background-color: #1f2937;
    color: #fff;
}
.copy_symboll{
 font-size: 1.4rem;
 color: #3882f6;
}